<h1>Your order has been cancelled.</h1>

<br>

<%= render 'mailer_shared/user_greeting', user: @user %>

<p>
  Your recent lab test order has been cancelled. If this was done in error, please reach out to support.
</p>