<h1>The lab is processing your test.</h1>

<br>

<%= render 'mailer_shared/user_greeting', user: @user %>

<p>
  The lab has received your test and is currently processing your results. We will notify you as soon as they are ready.
</p>